<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title - ASP.NET MVC Application</title>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<meta name="viewport" content="width=device-width" />
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@Styles.Render("~/Content/themes/base/css")
	@Styles.Render("~/Content/toastr")
	@RenderSection("styles", required: false)
</head>
<body>
	<div id="userSettings">
		@Html.Partial("_UserSettings")
	</div>

	<div id="body">
		@RenderBody()
	</div>
	
	<footer class="navbar navbar-default navbar-fixed-bottom" role="navigation">
		<nav>
			<ul id="menu">
				<li>@Html.ActionLink("Rooms", "Index", "Home", new { area = "" }, htmlAttributes: new { @class = "btn btn-primary" })</li>
			</ul>
		</nav>
		<p>Learn more about <a href="http://go.microsoft.com/fwlink/?LinkId=273732">Single Page Applications</a></p>
		<p>&copy; @DateTime.Now.Year - Agile ASP.NET MVC Application</p>
	</footer>

	<div class="waitModal">
		<!-- Place at bottom of page -->
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryui")
	@Scripts.Render("~/bundles/ajaxlogin")
	@Scripts.Render("~/bundles/toastr")
	@Scripts.Render("~/bundles/notifyService")
	@RenderSection("scripts", required: false)
</body>
</html>
