@using WebSignalR.Infrastructure
@{
	ViewBag.Title = "Room activity";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var user = ViewData["User"] as CustomPrincipal;
	var uid = (int)ViewData["UserId"];
	var isAdmin = (bool)ViewData["IsAdmin"];
	var roomId = (int)ViewData["RoomId"];
	var roomName = (string)ViewData["RoomName"];
}
@functions{
	public string GetAntiForgeryToken()
	{
		string cookieToken, formToken;
		AntiForgery.GetTokens(null, out cookieToken, out formToken);
		return cookieToken + ":" + formToken;
	}
}
@if (@User.Identity.IsAuthenticated)
{
	@section styles{
		@Styles.Render("~/Content/koGrid")
	}
}
<h2>Room Activity View</h2>

@if (User.Identity.IsAuthenticated)
{
	//data-bind="attr: {id: id}
	<p class="error" data-bind="text: error"></p>
	<input id="antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />
	<input id="userId" type="hidden" value="@uid" />
	<input id="isAdmin" type="hidden" value="@isAdmin" />
	<input id="roomId" type="hidden" value="@roomId" />
	<input id="roomName" type="hidden" value="@roomName" />
	
	<div data-bind="with: roomDtoState">
		<section id="users" data-bind="foreach: connectedUsers">
			<article class="agileList" data-bind="attr: { id: id }">
				<header>
					<form>
						<input class="required" data-bind="value: name, blurOnEnter: true" />
						<p>
							Is Admin:
							<input type="checkbox" data-bind="checked: isAdmin" />
						</p>
					</form>
				</header>
			</article>
		</section>
	</div>
	
@*<div id='liveActivity'>
		<div data-bind='simpleGrid: roomDtoState, simpleGridTemplate: "custom_grid_template"'></div>
	</div>*@
}

@if (@User.Identity.IsAuthenticated)
{
	@section scripts {
		@Scripts.Render("~/bundles/ko-signalr")
		@Scripts.Render("~/bundles/koGrid")
		<script type="text/javascript" src="~/signalr/hubs"></script>
		@Scripts.Render("~/bundles/agileRoomActivity")
	}
}