@using WebSignalR.Infrastructure
@{
	ViewBag.Title = "Room activity";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var user = ViewData["User"] as CustomPrincipal;
	var uid = (int)ViewData["UserId"];
	var isAdmin = (bool)ViewData["IsAdmin"];
	var roomId = (int)ViewData["RoomId"];
	var roomName = (string)ViewData["RoomName"];
}
@functions{
	public string GetAntiForgeryToken()
	{
		string cookieToken, formToken;
		AntiForgery.GetTokens(null, out cookieToken, out formToken);
		return cookieToken + ":" + formToken;
	}
}
@if (@User.Identity.IsAuthenticated)
{
	@section styles{
		@*@Styles.Render("~/Content/koGrid")*@
		@Styles.Render("~/Content/roomActivity")
		@Styles.Render("~/Content/jqueryMenu")
	}
}
<h2>Room Activity View</h2>

@if (User.Identity.IsAuthenticated)
{
	//data-bind="attr: {id: id}
	<p class="error" data-bind="text: error"></p>
	<input id="antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />
	<input id="userId" type="hidden" value="@uid" />
	<input id="isAdmin" type="hidden" value="@isAdmin" />
	<input id="roomId" type="hidden" value="@roomId" />
	<input id="roomName" type="hidden" value="@roomName" />
	
	if (User.IsInRole("Admin") || User.IsInRole("ScrumMaster"))
	{
	<div class="navbar navbar-default" role="navigation">
		<div class="navbar-inner">
			<div class="container" style="width: auto;">
				<div class="nav-collapse">
					<a class="btn btn-default" data-bind="click: importQuestions">Import questions</a>
					<a class="btn btn-default" data-bind="click: openVoteItem">Open vote</a>
					<a class="btn btn-default" data-bind="click: closeVoteItem">Close vote</a>
				</div>
			</div>
		</div>
	</div>
		
	<div id="importDialog" title="Import questions">
		@Html.Partial("_Import")
	</div>
	<div id="closeVoteDialog" title="Close vote">
		@Html.Partial("_CloseVote")
	</div>
	}
	
	<div class="contextMenu" id="dataGridMenu1">
		<ul>
			<li id="openMenuItem">Open vote item</li>
			<li id="closeMenuItem">Close vote item</li>
		</ul>
	</div>
	
	
	<div id="activityContainer" data-bind="with: roomDtoState">
		<table id="activityTable">
			<thead>
				<tr id="header">
					<th id="questionHeader">Question content (placed below):</th>
					<!-- ko foreach: connectedUsers-->
					<th data-bind="text: name, attr: { id: id }"></th>
					<!-- /ko -->
				</tr>
			</thead>
			<tbody data-bind="foreach: itemsToVote">
				<tr data-bind="attr: { id: id }">
					<td data-bind="text: content, click: function (data, event) { $root.selectedVoteItemChanged($data, event) }"></td>
				</tr>
			</tbody>
		</table>
	</div>
	
@*<div id='liveActivity'>
		<div data-bind='simpleGrid: roomDtoState, simpleGridTemplate: "custom_grid_template"'></div>
	</div>*@
}

@if (@User.Identity.IsAuthenticated)
{
	@section scripts {
		@Scripts.Render("~/bundles/ko-signalr")
		@*@Scripts.Render("~/bundles/koGrid")*@
		<script type="text/javascript" src="~/signalr/hubs"></script>
		@Scripts.Render("~/bundles/agileRoomActivity")
		@Scripts.Render("~/bundles/jqueryuimenu")
	}
}